@font-face {
  font-family: "iconfont"; /* Project id 2601581 */
  src: url("iconfont.woff2?t=1659252705262") format("woff2"),
    url("iconfont.woff?t=1659252705262") format("woff"),
    url("iconfont.ttf?t=1659252705262") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shortcut-fill:before {
  content: "\eacd";
}

.icon-bilibili:before {
  content: "\e60e";
}

.icon-temporary:before {
  content: "\e66b";
}

.icon-item:before {
  content: "\e60d";
}

.icon-tab_item_green:before {
  content: "\e636";
}

.icon-MonitoringItemsPoint-default:before {
  content: "\e6e9";
}

.icon-setting-01:before {
  content: "\e6ce";
}

.icon-a-shezhicanshu:before {
  content: "\e96c";
}

.icon-wendang1:before {
  content: "\e656";
}

.icon-weixin:before {
  content: "\e60b";
}

.icon-lishi:before {
  content: "\e6a4";
}

.icon-contactGroup:before {
  content: "\e68f";
}

.icon-telegram:before {
  content: "\e60c";
}

.icon-canshu:before {
  content: "\e60a";
}

.icon-canshupeizhi:before {
  content: "\e68c";
}

.icon-add1:before {
  content: "\e661";
}

.icon-header:before {
  content: "\e6a9";
}

.icon-quanjucanshu:before {
  content: "\e617";
}

.icon-share:before {
  content: "\e630";
}

.icon-icon-authorization:before {
  content: "\ee1b";
}

.icon-auth:before {
  content: "\e635";
}

.icon-gitter:before {
  content: "\e609";
}

.icon-dingding:before {
  content: "\e653";
}

.icon-code-box-fill:before {
  content: "\e644";
}

.icon-features:before {
  content: "\e618";
}

.icon-buy:before {
  content: "\e681";
}

.icon-config2:before {
  content: "\eb28";
}

.icon-config-appconfig:before {
  content: "\e693";
}

.icon-start1:before {
  content: "\e8d2";
}

.icon-others1:before {
  content: "\e6d0";
}

.icon-codestring:before {
  content: "\e76a";
}

.icon-dataMapping:before {
  content: "\e62e";
}

.icon-setting:before {
  content: "\e63a";
}

.icon-feature:before {
  content: "\ec86";
}

.icon-effective:before {
  content: "\f898";
}

.icon-interface:before {
  content: "\e6c9";
}

.icon-origin:before {
  content: "\e74a";
}

.icon-creativefill:before {
  content: "\e718";
}

.icon-faq:before {
  content: "\e62a";
}

.icon-donate:before {
  content: "\e608";
}

.icon-others:before {
  content: "\e62d";
}

.icon-tools:before {
  content: "\e64a";
}

.icon-install-fill:before {
  content: "\e76c";
}

.icon-whats-new:before {
  content: "\e616";
}

.icon-discoverfill:before {
  content: "\e6ba";
}

.icon-changelog:before {
  content: "\e61f";
}

.icon-start:before {
  content: "\ea40";
}

.icon-mapping:before {
  content: "\ec4c";
}

.icon-success-filling:before {
  content: "\e68b";
}

.icon-code:before {
  content: "\e760";
}

.icon-get:before {
  content: "\e672";
}

.icon-put:before {
  content: "\e6b2";
}

.icon-post3:before {
  content: "\e600";
}

.icon-retry:before {
  content: "\e607";
}

.icon-save:before {
  content: "\e70b";
}

.icon-readme:before {
  content: "\eac7";
}

.icon-java:before {
  content: "\e601";
}

.icon-curl:before {
  content: "\e606";
}

.icon-config:before {
  content: "\e682";
}

.icon-shaixuan:before {
  content: "\e604";
}

.icon-expand:before {
  content: "\e73f";
}

.icon-collapse:before {
  content: "\e749";
}

.icon-visible:before {
  content: "\e8cc";
}

.icon-eye-invisible:before {
  content: "\e646";
}

.icon-wenjian:before {
  content: "\e648";
}

.icon-checkbox:before {
  content: "\e637";
}

.icon-delete:before {
  content: "\e680";
}

.icon-send:before {
  content: "\e911";
}

.icon-add:before {
  content: "\e603";
}

.icon-object:before {
  content: "\e67f";
}

.icon-leibie:before {
  content: "\e649";
}

.icon-list:before {
  content: "\e605";
}

.icon-string:before {
  content: "\e805";
}

.icon-restfulFastRequest:before {
  content: "\e625";
}

.icon-number:before {
  content: "\e639";
}
