@use "@sass-palette/hope-config";

@font-face {
  font-family: bobohei;
  src: url("/fast-request/font/BOBOHEI-2.otf");
}

body {
  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

h1,
h2 {
  font-family: bobohei, sans-serif;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// home page
.vp-project-home {
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: 959px) {
    background: url("/img/bg2.svg") no-repeat calc(50% + 400px) 0;
  }

  h2 {
    border-bottom: none;
  }
}

.vp-hero-info {
  display: block;
  text-align: center;
  margin-top: 280px;

  .vp-hero-image {
    max-height: 150px;
    margin: 0 auto;
  }
}

.vp-description {
  max-width: 100%;
  font-size: 16px;
  color: #fff;
  font-family: bobohei, sans-serif;
}

.vp-actions {
  margin-left: -10px;
}

.vp-action.primary {
  color: #fff;
  font-family: bobohei, sans-serif;
}

.vp-features {
  &:first-child {
    border-top: none;
  }
}

.vp-feature-item {
  &:hover {
    background-color: transparent;
  }

  .vp-feature-title {
    color: #fff;
    font-family: bobohei, sans-serif;
  }

  .vp-feature-details {
    color: #fff;
    font-weight: 600;
  }
}

#{hope-config.$content-class}.custom {
  padding: 0 5rem;
}

#main-title {
  color: #ffffff;
  font-family: bobohei;
  -webkit-text-fill-color: #ffffff;
}

// navbar
.vp-navbar {
  .nav-links {
    font-size: 0.7em;
  }

  @media (min-width: 1200px) {
    .vp-site-name {
      font-family: bobohei, sans-serif;
      background-color: var(--theme-color);
      position: relative;
      color: transparent;
      background-clip: text;
    }
    .vp-site-name::after {
      content: "Fast Request";
      position: absolute;
      font-family: bobohei, sans-serif;
      left: 0;
      top: -6px;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 1rem,
        white 2rem,
        transparent 3.15rem,
        transparent 100%
      );
      background-clip: text;
      background-size: 200% 120%;
      background-repeat: no-repeat;
      animation: shine 5s infinite linear;
    }

    @keyframes shine {
      0% {
        background-position: 50% 0;
      }
      100% {
        background-position: -190% 0;
      }
    }
  }

  .nav-item > .nav-link {
    font-family: bobohei, sans-serif;
  }
}

// breadcrumb
.breadcrumb a {
  font-family: bobohei, sans-serif;
}

.dropdown-wrapper .dropdown-title {
  font-family: bobohei, sans-serif;
}

.compare-wrapper {
  width: 100%;

  .hint-container {
    border: none;
    &.info .compare-title {
      background: #087cfa;
    }

    &.tip .compare-title {
      background: #21d789;
    }
  }

  .compare-title {
    font-size: 22px;
    border-radius: 0.2rem;
    font-weight: 900;
    color: var(--black);
    margin: 1rem 0;
    padding: 0.5rem;

    .icon {
      margin: 0 0.25em;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.advantage-more {
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
}

@media (max-width: 767px) {
  .home-advantage {
    display: none;
  }
}
@media (min-width: 768px) {
  .home-advantage {
    display: block;
  }
}
