@font-face {
  font-family: "bobohei";
  src: url("/fast-request/font/BOBOHEI-2.otf");
}

.home.project {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;

  @media (min-width: 959px) {
    background: url(/img/bg.svg) no-repeat;
  }

  .hero {
    display: block;
    text-align: center;
    max-width: 100%;
    height: 735px;

    img {
      margin: 50px auto 0;
      max-height: 440px;
    }

    h1 {
      font-family: "bobohei";
    }

    .description {
      max-width: 100%;
      font-size: 13px;
      font-family: "bobohei";
    }

    .actions {
      margin-left: -10px;
    }

    .action-button.primary {
      color: #fff;
      font-family: "bobohei";
    }

    .features {
      max-width: 100%;
      padding: 0 5rem;
      margin: 0;
      border-top: none;
    }

    .feature h2 {
      font-family: "bobohei";
    }

    .feature p {
      font-weight: 600;
    }
  }

  h2 {
    border-bottom: none;
  }
}

.theme-hope-content.custom {
  padding: 0 5rem;
}

.navbar {
  .site-name {
    font-family: "bobohei";
  }

  .nav-item > .nav-link {
    font-family: "bobohei";
  }
}

.sidebar > .sidebar-links > li:not(:first-child) {
  margin-top: 0.1rem;
}

h1,
h2 {
  font-family: "bobohei";
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
