$vp-c-text: (
  light: #2c3e50,
  dark: #9e9e9e,
);
$vp-c-bg: (
  light: #fff,
  dark: #0c1117,
);
$vp-c-bg-alt: (
  light: #f8f8f8,
  dark: #333,
);
$vp-c-shadow: (
  light: #f0f1f2,
  dark: #303030,
);
