// $nprogressColor : red;
.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0.1rem;
}


$text-color: (
  light: #2c3e50,
  dark: #cdcdcd,
);

$bg-color: (
  light: #F5F5F5,
  dark: #2B2B2B,
);



