// $nprogressColor : red;
.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0.1rem;
}


// @import url('/fast-request/font/iconfont.css');

$text-color: (
  light: #2c3e50,
  dark: #cdcdcd,
);

$bg-color: (
  light: #F5F5F5,
  dark: #2B2B2B,
);

$theme-color: #21D789;



