$theme-color: #21d789;

$text-color: (
  light: #2c3e50,
  dark: #9e9e9e,
);

$bg-color: (
  light: #fff,
  dark: #0c1117,
);

$bg-color-secondary: (
  light: #f8f8f8,
  dark: #333,
);

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #303030,
);
